!!!
%html
  %head
    %title RackNonCache Testing App
    :javascript
      // define the bootstrap module inside index.erb so we can easily inject the default collection
      define("bootstrap", [], function() {
        return function(todoList) {
          todoList.reset(<%= @todos.to_json %>);
        };
      });
  %body
    %h1
      Todo List
    %ul
      - @todos.each do |todo|
        %li= todo
    %h2
      Todo Form
    %form
      %input{type: 'text', name: 'title'}
      %input{type: 'submit'} Save

%script{'src' => 'js/vendor/jquery-min.js.js'}
%script{'src' => 'js/vendor/underscore-min.js'}
%script{'src' => 'js/vendor/backbone-min.js'}
%script{'defer' => true, 'src' => 'js/script.js'}
